<!-- office/_part/nav/logo -->

<a href="office" class="logo" title="Office">
    <span class="logo-mini"><b>O</b></span>
    <span class="logo-lg"><%- _module.app.getTitle() %>.<b data-t="">Office</b></span>
</a>