<!-- office/_part/nav/search -->
<div class="nav-search" data-jam="NavSearch" data-url="office/service/nav-search">
  <div class="nav-search-head">
    <input class="nav-search-input" type="search" placeholder="Search...">
    <i class="fas fa-search"></i>
  </div>
  <div class="nav-search-loader">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div class="nav-search-empty" data-t="">Nothing found</div>
  <div class="nav-search-result nav-tree"></div>
</div>