<!-- _meta/attr/view/class -->
<%
const cls = model.class.meta.getClass(model.get(attr));
if (cls) {
    const value = `<span data-t="meta.${cls.translationKey}" title="${cls.name}">${_escape(cls.title)}</span>`;
    model.setDisplayValue(attr, value);
}
%>
<%- include(_view.get('_meta/attr/static'), {formatted: true}) %>