<!-- _meta/attr/view/hidden -->

<div class="form-attr hidden"
     data-handler="<%- typeof handler === 'undefined' ? '' : handler %>">
    <input name="<%- formAttrName %>" type="hidden" value="<%= model.get(attr) %>"
           class="form-value" readonly="readonly">
</div>