<!-- _meta/attr/view/state -->
<%
let formatted = false;
let state = model.class.getState(model.get(attr));
if (state) {
    model.setDisplayValue(attr, `<span data-t="meta.${state.class.translationKey}" title="${state.name}">${_escape(state.title)}</span>`);
    formatted = true;
}
%>
<%- include(_view.get('_meta/attr/static'), {formatted}) %>