<!-- _meta/attr/view/state -->
<%
const state = model.class.getState(model.get(attr));
if (state) {
    const value = `<span data-t="meta.${state.class.translationKey}" title="${state.name}">${state.title}</span>`;
    model.setDisplayValue(attr, value);
}
%>
<%- include(_view.get('_meta/attr/static')) %>