<!-- office/_part/group/column -->
<div class="form-column <%- group.options.css || 'col-xl-6' %>"
     data-id="<%- group.name %>"
     data-action-binder="<%= group.actionBinder.stringified %>">
    <%- include(_view.get('_meta/group/children')) %>
</div>