<%
layout(_view.get('_layout/content'));

const ptd = extraMeta.getPageTitleData(meta);

block('title', ptd.title);
block('titleTranslation', `meta.${ptd.translationKey}`);

const extraData = extraMeta.getData(meta.view);
const template = meta.view.treeView.isActive() ? 'tree' : 'grid';
const pdd = extraMeta.getPageDescriptionData(meta);

if (pdd) {
%>
<div class="content-description" data-t="meta.<%- pdd.translationKey %>"><%- pdd.description %></div>

<% }
const modalSort = extraData.modalSortNames.length ? {
    url: `office/model/sort?n=${meta.node.id}&column=`,
    columns: extraData.modalSortNames
} : null;
%>
<div class="box">
    <div class="box-body">

        <%- include(_view.get(`_meta/list/${template}`), {
            data: {modalSort}
        }) %>

    </div>
</div>