<!-- model/sort -->
<%
const title = _view.EscapeHelper.escapeTags(sortAttr.title);
block('title', `<span data-t="">Sort by</span> <span data-t="meta.${sortAttr.view.translationKey}">${title}</span>`);
block('htmlTitle', true);
%>

<%- include(_view.get('_meta/list/sort'), {
    data: {
        order: {[sortAttr.name]: 1},
        id: `sort-${meta.node.id}`,
        list: `office/model/list?n=${meta.node.id}`
    },
    extraData: extraMeta.getData(meta.view)
}) %>

<div class="prepend-commands"></div>