<!-- model/sortOwnRelated -->

<% block('title', `Sort related objects`) %>

<%- include(_view.get('_meta/list/sort'), {
    data: {
        jam: 'SortListRelation',
        id: `related-sort-${meta.master.attr.id}`,
        list: `office/model/list-related?m=${meta.master.attr.name}.${meta.master.model.getMetaId()}`
    },
    extraData: extraMeta.getData(meta.master.attr.listView)
}) %>

<% if (meta.master.model.isRelationSorted(meta.master.attr)) { %>
<div class="append-commands">
    <button data-command="deleteSort" class="btn-danger btn" type="button" title="Remove sorting of related objects">
        <i class="fas fa-ban"></i>
    </button>
</div>
<% } %>