<!-- _meta/attr/hidden -->
<div class="form-attr form-group hidden"
     data-handler="<%- typeof handler === 'undefined' ? attr.options.handler : handler %>">
    <input type="hidden" name="<%- formAttrName %>" value="<%= model.get(attr) %>" class="form-value">
</div>