<% layout(_view.get('_layout/content')) %>
<% block('title', 'Operate application') %>

<%- include(_view.get('_meta/alert')) %>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Overview</h4>
    </div>
    <div class="panel-body">
        <p>
            Populate application with data.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Navigation</h4>
    </div>
    <div class="panel-body">
        <p>
            The Office side menu is built from the <b>main</b> navigation section created in Studio.
        </p>
        <p>
            Service menu item of all application classes is displayed in development mode.
        </p>
    </div>
</div>