<% layout(_view.get('_layout/content')) %>
<% block('title', 'Operate application') %>

<%- include(_view.get('_meta/alert')) %>

<div class="folder panel-default panel">
    <div class="panel-body">
        <p>
            The Office module creates and edits objects based on metadata.
            <br>
            For example, article objects are created for the Article class.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Navigation</h4>
    </div>
    <div class="panel-body">
        <p>
            The sidebar is defined from the navigation section codenamed "main".
        </p>
        <p>
            By default, in development mode, a service menu item is displayed with a list of all application classes.
        </p>
    </div>
</div>