<!-- office/_part/tool/history -->
<button data-command="history" class="btn-outline-secondary btn" type="button" title="Data history"
        data-url="office/data-history/index?c=<%- model.class.name %>&id=<%- model.getId() %>">
    <i class="fa fa-history"></i>
</button>