<!-- office/_part/tool/sign -->
<button data-command="sign" class="btn-success btn" type="button" title="Sign data"
        data-params="<%= JSON.stringify(extraMeta.getData(model.view).signature) %>">
    <i class="fas fa-signature"></i>
</button>