<!-- _meta/attr/edit/hidden -->

<div class="form-attr hidden"
     data-handler="<%- typeof handler === 'undefined' ? '' : handler %>">
    <input name="<%- formAttrName %>" type="hidden" value="<%= model.get(attr) %>" class="form-value">
</div>