<!-- office/./_utility/control -->
<a href="#" class="menu-item" title="<%= utility.getHint() %>"
   data-params="<%= JSON.stringify(data) %>">
    <span data-t=""><%- utility.getTitle() %></span>
</a>