<!-- office/_utility/control -->
<a href="javascript:void 0" class="utility-item" title="<%= utility.getHint() %>"
   data-params="<%= JSON.stringify(data) %>">
  <span data-t=""><%- utility.getTitle() %></span>
</a>