<%
layout(_view.get('_layout/content'));
block('title', 'Эксплуатация приложения');
%>
<%- include(_view.get('_meta/alert')) %>

<div class="folder card">
  <div class="card-body">
    <p>
      В модуле "Офис" создаются и редактируются объекты на основе метаданных.
      <br>
      Например, для класса "Статья" пишутся уже сами статьи.
    </p>
    <p>
      Подробности
      <a href="https://mkhorin.github.io/evado-site/ru/"
         target="_blank">создания веб-приложения без программирования</a>.
    </p>
  </div>
</div>

<div class="card-info card mt-3">
  <div class="card-header">
    Навигация
  </div>
  <div class="card-body">
    <p>
      Боковое меню определяется из секции навигации с кодовым именем <code>main</code>.
    </p>
    <p>
      По умолчанию в режиме разработки отображается служебная секция меню со списком всех классов приложения.
    </p>
  </div>
</div>